<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.now.core.post.domain.mapper.CommunityMapper">

    <!-- 모든 커뮤니티 게시글 조회 쿼리 -->
    <select id="findAllCommunity" parameterType="Condition" resultMap="community">
        SELECT
        <include refid="CommonColumnMappings.postTableColumn"/>,
        <include refid="CommonColumnMappings.maxAttachmentTableColumn"/>,
        <include refid="CommonColumnMappings.maxCommentTableColumn"/>,
        <include refid="CommonColumnMappings.memberTableColumn"/>,
        <include refid="CommonColumnMappings.maxMemberAndManagerInfoOfCommentTableColumn"/>
        FROM tb_post p
        LEFT OUTER JOIN tb_attachment f ON p.post_idx = f.post_idx
        LEFT OUTER JOIN tb_comment co ON p.post_idx = co.post_idx
        LEFT OUTER JOIN tb_member m ON p.member_idx = m.member_idx
        LEFT OUTER JOIN tb_manager ma ON p.manager_idx = ma.manager_idx

        LEFT OUTER JOIN tb_member com ON co.member_idx = com.member_idx
        LEFT OUTER JOIN tb_manager coma ON co.manager_idx = coma.manager_idx
        WHERE p.post_group = 'COMMUNITY'
        <include refid="DynamicQueryMapper.conditionWithoutPostGroup"/>
        GROUP BY p.post_idx
        <include refid="DynamicQueryMapper.sort"/>
        <include refid="DynamicQueryMapper.page"/>
    </select>


    <!-- 단일 커뮤니티 게시글 조회 쿼리 -->
    <select id="findCommunity" parameterType="Long" resultMap="community">
        SELECT
        <include refid="CommonColumnMappings.postTableColumn"/>,
        <include refid="CommonColumnMappings.attachmentTableColumn"/>,
        <include refid="CommonColumnMappings.commentTableColumn"/>,
        <include refid="CommonColumnMappings.memberTableColumn"/>,
        <include refid="CommonColumnMappings.memberAndManagerInfoOfCommentTableColumn"/>
        FROM tb_post p
        LEFT OUTER JOIN tb_attachment f ON p.post_idx = f.post_idx
        LEFT OUTER JOIN tb_comment co ON p.post_idx = co.post_idx
        LEFT OUTER JOIN tb_member m ON p.member_idx = m.member_idx
        LEFT OUTER JOIN tb_manager ma ON p.manager_idx = ma.manager_idx
        LEFT OUTER JOIN tb_member com ON co.member_idx = com.member_idx
        LEFT OUTER JOIN tb_manager coma ON co.manager_idx = coma.manager_idx
        WHERE p.post_group = 'COMMUNITY' AND p.post_idx = #{postIdx}
    </select>


    <!-- Community 저장 쿼리 -->
    <insert id="saveCommunity" parameterType="Community" useGeneratedKeys="true" keyProperty="postIdx">
        INSERT INTO tb_post (post_group, category, title, member_idx, reg_date, mod_date, content, view_count, like_count, dislike_count)
        VALUES (#{postGroup}, #{category.name}, #{title}, #{memberIdx}, now(), null, #{content}, 0, 0, 0)
    </insert>


    <!-- Community 수정 쿼리-->
    <update id="updateCommunity" parameterType="Community">
        UPDATE tb_post
        SET category = #{category.name},
            title   = #{title},
            mod_date = NOW(),
            content = #{content}
        WHERE post_idx = #{postIdx}
    </update>


    <!-- 커뮤니티 게시글 삭제 쿼리 -->
    <delete id="deleteCommunity" parameterType="Long">
        DELETE
        FROM tb_post
        WHERE post_idx = #{postIdx}
    </delete>


    <!-- 커뮤니티 게시글 결과 매핑 -->
    <resultMap id="community" type="Community">
        <id property="postIdx" column="p_post_idx"/>
        <result property="category" column="p_category" javaType="com.now.core.category.domain.constants.Category"/>
        <result property="title" column="p_title"/>
        <result property="memberId" column="m_id"/>
        <result property="memberNickname" column="m_nickname"/>
        <result property="managerNickname" column="ma_nickname"/>
        <result property="regDate" column="p_reg_date"/>
        <result property="modDate" column="p_mod_date"/>
        <result property="content" column="p_content"/>
        <result property="viewCount" column="p_view_count"/>
        <result property="likeCount" column="p_like_count"/>
        <result property="dislikeCount" column="p_dislike_count"/>
        <!-- 공통 컬렉션 매핑 -->
        <collection property="attachments" resultMap="com.now.core.attachment.domain.AttachmentMapper.attachmentResponseResultMap" />
        <collection property="comments" resultMap="com.now.core.comment.domain.CommentMapper.commentResultMap" />
    </resultMap>


</mapper>
