    |===
        |필드명|타입|필수여부|제약조건|설명
    {{#fields}}
        |`{{path}}`
        |`{{type}}`
        |{{#optional}}false{{/optional}}{{^optional}}true{{/optional}}
        |{{#constraints}}{{.}}{{/constraints}}{{^constraints}}N/A{{/constraints}}
        |{{description}}
    {{/fields}}
        |===
