<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.now.core.attachment.domain.AttachmentMapper">

    <!-- 게시물 번호에 해당하는 Thumbnail을 가져오는 쿼리 -->
    <select id="findThumbnailByPostIdx" parameterType="Long">
        SELECT *
        FROM tb_thumbnail
        WHERE post_idx = #{postIdx}
    </select>

    <!-- 게시물 번호에 해당하는 Attachment 목록을 가져오는 쿼리 -->
    <select id="findAllIndexesByPostIdx" parameterType="Long">
        SELECT attachment_idx
        FROM tb_attachment
        WHERE post_idx = #{postIdx}
    </select>

    <select id="findAttachmentResponseByAttachmentIdx" parameterType="Long" resultMap="attachmentResponseTableCollectionMapping">
        SELECT *
        FROM tb_attachment
        WHERE attachment_idx = #{attachmentIdx}
    </select>

    <select id="findAttachmentByAttachmentIdx" parameterType="Long" resultMap="attachmentTableCollectionMapping">
        SELECT *
        FROM tb_attachment
        WHERE attachment_idx = #{attachmentIdx}
    </select>

    <!-- Attachment 저장 쿼리 -->
    <insert id="saveAttachment" parameterType="Attachment" useGeneratedKeys="true" keyProperty="attachmentIdx">
        INSERT INTO tb_attachment (saved_attachment_name, original_attachment_name, attachment_extension, attachment_size, post_idx)
        VALUES (#{savedAttachmentName}, #{originalAttachmentName.originalAttachmentName}, #{attachmentExtension.attachmentExtension}, #{attachmentSize.attachmentSize}, #{postIdx});
    </insert>

    <!-- ThumbNail 저장 쿼리 -->
    <insert id="saveThumbNail" parameterType="Attachment">
        INSERT INTO tb_thumbnail (post_idx, attachment_idx)
        VALUES (#{postIdx}, #{attachmentIdx})
    </insert>

    <!-- ThumbNail 수정 쿼리 -->
    <update id="updateThumbnail" parameterType="Attachment">
        UPDATE tb_thumbnail
        SET attachment_idx = #{attachmentIdx}
        WHERE post_idx = #{postIdx};
    </update>

    <!-- ThumbNail 수정 쿼리 -->
    <update id="clearThumbnail" parameterType="Long">
        UPDATE tb_thumbnail
        SET attachment_idx = null
        WHERE post_idx = #{postIdx};
    </update>

    <delete id="deleteByAttachmentIdx" parameterType="Long">
        DELETE
        FROM tb_attachment
        WHERE attachment_idx = #{attachmentIdx}
    </delete>

    <delete id="deleteAllByPostIdx" parameterType="Long">
        DELETE
        FROM tb_attachment
        WHERE post_idx = #{postIdx}
    </delete>

    <delete id="deleteThumbNail" parameterType="Long">
        DELETE
        FROM tb_thumbnail
        WHERE attachment_idx = #{attachmentIdx}
    </delete>

    <delete id="deleteThumbNailByPostIdx" parameterType="Long">
        DELETE
        FROM tb_thumbnail
        WHERE post_idx = #{postIdx}
    </delete>

    <resultMap id="attachmentResponseTableCollectionMapping" type="AttachmentResponse">
        <id property="attachmentIdx" column="attachment_idx"/>
        <result property="originalAttachmentName" column="original_attachment_name"/>
        <result property="savedAttachmentName" column="saved_attachment_name"/>
        <result property="attachmentExtension" column="attachment_extension"/>
        <result property="attachmentSize" column="attachment_size"/>
        <result property="postIdx" column="post_idx"/>
    </resultMap>

    <resultMap id="attachmentTableCollectionMapping" type="Attachment">
        <id property="attachmentIdx" column="attachment_idx"/>
        <result property="originalAttachmentName.originalAttachmentName" column="original_attachment_name"/>
        <result property="savedAttachmentName" column="saved_attachment_name"/>
        <result property="attachmentExtension.attachmentExtension" column="attachment_extension"/>
        <result property="attachmentSize.attachmentSize" column="attachment_size"/>
        <result property="postIdx" column="post_idx"/>
    </resultMap>

</mapper>