<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.now.core.post.domain.PostMapper">

    <insert id="saveManagerPost" parameterType="ManagerPost" useGeneratedKeys="true" keyProperty="postIdx">
        INSERT INTO tb_manager_post (post_group, category, title, manager_idx, reg_date, mod_date, content, view_count, like_count, dislike_count)
        VALUES (#{postGroup}, #{category.name}, #{title}, #{managerIdx}, now(), null, #{content}, 0, 0, 0)
    </insert>

    <insert id="saveMemberPost" parameterType="MemberPost" useGeneratedKeys="true" keyProperty="postIdx">
        INSERT INTO tb_member_post (post_group, category, title, member_idx, reg_date, mod_date, content, view_count, like_count, dislike_count)
        VALUES (#{postGroup}, #{category.name}, #{title}, #{memberIdx}, now(), null, #{content}, 0, 0, 0)
    </insert>

    <select id="findAllNotices" parameterType="Condition" resultMap="notice" useCache="false" flushCache="true">
        SELECT
        <include refid="selectManagerPostTableColumn"/>,
        <include refid="selectManagerTableColumn"/>
        FROM tb_manager_post manager_p
        LEFT OUTER JOIN tb_manager m ON manager_p.manager_idx = m.manager_idx
        WHERE manager_p.post_group = 'NOTICE'
        ORDER BY manager_p.post_idx DESC
        <include refid="condition"/>
    </select>

    <select id="findAllCommunity" parameterType="Condition" resultMap="community" useCache="false" flushCache="true">
        SELECT
        <include refid="selectMemberPostTableColumn"/>,
        <include refid="selectFileTableColumn"/>,
        <include refid="selectCommentTableColumn"/>,
        <include refid="selectMemberTableColumn"/>
        FROM tb_member_post member_p
        LEFT OUTER JOIN tb_file f ON member_p.post_idx = f.member_post_idx
        LEFT OUTER JOIN tb_comment co ON member_p.post_idx = co.member_post_idx
        LEFT OUTER JOIN tb_member m ON member_p.member_idx = m.member_idx
        WHERE member_P.post_group = 'COMMUNITY'
        ORDER BY member_p.post_idx DESC
        <include refid="condition"/>
    </select>

    <select id="findAllPhotos" parameterType="Condition" resultMap="photo" useCache="false" flushCache="true">
        SELECT
        <include refid="selectMemberPostTableColumn"/>,
        <include refid="selectFileTableColumn"/>,
        <include refid="selectCommentTableColumn"/>,
        <include refid="selectMemberTableColumn"/>
        FROM tb_member_post member_p
        LEFT OUTER JOIN tb_file f ON member_p.post_idx = f.member_post_idx
        LEFT OUTER JOIN tb_comment co ON member_p.post_idx = co.member_post_idx
        LEFT OUTER JOIN tb_member m ON member_p.member_idx = m.member_idx
        WHERE member_P.post_group = 'PHOTO'
        ORDER BY member_p.post_idx DESC
        <include refid="condition"/>
    </select>

    <select id="findAllInquiries" parameterType="Condition" resultMap="inquiry" useCache="false" flushCache="true">
        SELECT
        <include refid="selectMemberPostTableColumn"/>,
        <include refid="selectMemberTableColumn"/>
        FROM tb_member_post member_p
        LEFT OUTER JOIN tb_member m ON member_p.member_idx = m.member_idx
        WHERE member_P.post_group = 'INQUIRY'
        ORDER BY member_p.post_idx DESC
        <include refid="condition"/>
    </select>

    <sql id="selectManagerPostTableColumn">
        manager_p.post_idx AS manager_p_post_idx,
        manager_p.category AS manager_p_category,
        manager_p.title AS manager_p_title,
        manager_p.manager_idx AS manager_p_manager_idx,
        manager_p.reg_date AS manager_p_reg_date,
        manager_p.mod_date AS manager_p_mod_date,
        manager_p.content AS manager_p_content,
        manager_p.view_count AS manager_p_view_count,
        manager_p.like_count AS manager_p_like_count,
        manager_p.dislike_count AS manager_p_dislike_count
    </sql>

    <sql id="selectMemberPostTableColumn">
        member_p.post_idx AS member_p_post_idx,
        member_p.category AS member_p_category,
        member_p.title AS member_p_title,
        member_p.member_idx AS member_p_member_idx,
        member_p.reg_date AS member_p_reg_date,
        member_p.mod_date AS member_p_mod_date,
        member_p.content AS member_p_content,
        member_p.view_count AS member_p_view_count,
        member_p.like_count AS member_p_like_count,
        member_p.dislike_count AS member_p_dislike_count
    </sql>

    <sql id="selectFileTableColumn">
        f.file_idx AS f_file_idx,
        f.original_file_name AS f_original_file_name,
        f.file_extension AS f_file_extension,
        f.file_size AS f_file_size,
        f.member_post_idx AS f_member_post_idx
    </sql>

    <sql id="selectCommentTableColumn">
        co.comment_idx AS co_comment_idx,
        co.member_idx AS co_member_idx,
        co.reg_date AS co_reg_date,
        co.content AS co_content,
        co.member_post_idx AS co_member_post_idx
    </sql>

    <sql id="selectManagerTableColumn">
        m.nickname AS m_nickname
    </sql>

    <sql id="selectMemberTableColumn">
        m.nickname AS m_nickname
    </sql>

    <resultMap id="fileTableCollectionMapping" type="File">
        <id property="fileIdx" column="f_file_idx"/>
        <result property="originalFileName.originalFileName" column="f_original_file_name"/>
        <result property="fileExtension.fileExtension" column="f_file_extension"/>
        <result property="fileSize.fileSize" column="f_file_size"/>
        <result property="memberPostIdx" column="f_member_post_idx"/>
    </resultMap>

    <resultMap id="commentTableCollectionMapping" type="Comment">
        <id property="commentIdx" column="co_comment_idx"/>
        <result property="memberIdx" column="co_member_idx"/>
        <result property="regDate" column="co_reg_date"/>
        <result property="content" column="co_content"/>
        <result property="memberPostIdx" column="co_member_post_idx"/>
    </resultMap>

    <resultMap id="baseManagerPostResultMap" type="ManagerPost">
        <id property="postIdx" column="manager_p_post_idx"/>
        <result property="category" column="manager_p_category" javaType="com.now.core.category.domain.constants.Category"/>
        <result property="title" column="manager_p_title"/>
        <result property="managerNickname" column="m_nickname"/>
        <result property="regDate" column="manager_p_reg_date"/>
        <result property="modDate" column="manager_p_mod_date"/>
        <result property="content" column="manager_p_content"/>
        <result property="viewCount" column="manager_p_view_count"/>
        <result property="likeCount" column="manager_p_like_count"/>
        <result property="dislikeCount" column="manager_p_dislike_count"/>
    </resultMap>

    <resultMap id="baseMemberPostResultMap" type="MemberPost">
        <id property="postIdx" column="member_p_post_idx"/>
        <result property="category" column="member_p_category" javaType="com.now.core.category.domain.constants.Category"/>
        <result property="title" column="member_p_title"/>
        <result property="memberNickname" column="m_nickname"/>
        <result property="regDate" column="member_p_reg_date"/>
        <result property="modDate" column="member_p_mod_date"/>
        <result property="content" column="member_p_content"/>
        <result property="viewCount" column="member_p_view_count"/>
        <result property="likeCount" column="member_p_like_count"/>
        <result property="dislikeCount" column="member_p_dislike_count"/>
    </resultMap>

    <resultMap id="notice" type="Notice" extends="baseManagerPostResultMap">
    </resultMap>

    <resultMap id="community" type="Community" extends="baseMemberPostResultMap">
        <!-- 공통 컬렉션 매핑 -->
        <collection property="files" resultMap="fileTableCollectionMapping" />
        <collection property="comments" resultMap="commentTableCollectionMapping" />
    </resultMap>

    <resultMap id="photo" type="Photo" extends="baseMemberPostResultMap">
        <!-- 공통 컬렉션 매핑 -->
        <collection property="files" resultMap="fileTableCollectionMapping" />
        <collection property="comments" resultMap="commentTableCollectionMapping" />
    </resultMap>

    <resultMap id="inquiry" type="Inquiry" extends="baseMemberPostResultMap">
    </resultMap>

    <!-- 검색 조건에 따른 WHERE 절 SQL -->
    <sql id="condition">
        <if test="limit != 0">
            LIMIT 0, #{limit}
        </if>
    </sql>
</mapper>
